body {
  background-color: lightpink;
  font-family: Georgia, serif;
  font-size: 18px;
}

nav {
  color: white;
    font-family: Georgia, serif;
    font-size: x-large;
}

a:hover{
    text-decoration: none;
    color: blueviolet;
}

h1 {
  color: white;
  text-align: center;
  font-family: Georgia, serif;
}

h2 {
  color: floralwhite;
  text-align: center;
  font-family: Georgia, serif;
}



p {
  font-family: Georgia, serif;
  font-size: 18px;
}

